<beans xmlns="http://www.springframework.org/schema/beans"

   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

   xmlns:context="http://www.springframework.org/schema/context"

   xmlns:util="http://www.springframework.org/schema/util"

   xmlns:p="http://www.springframework.org/schema/p"

   xsi:schemaLocation="http://www.springframework.org/schema/beans 
                      http://www.springframework.org/schema/beans/spring-beans.xsd 
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd
                      http://www.springframework.org/schema/util
                      http://www.springframework.org/schema/util/spring-util.xsd">

     <util:properties id="properties" location="dbConfig.properties"/>

     <bean id ="connection" class="com.capgemini.bank.util.DbUtil" factory-method="getconnection">
         <constructor-arg ref="properties"></constructor-arg>
     </bean>

     <bean id ="dao" class="com.capgemini.bank.dao.impl.BankAccountDaoImpl">
         <constructor-arg ref="connection">
         </constructor-arg>
     </bean> 

     <bean id ="service" class="com.capgemini.bank.service.impl.BankAccountServiceImpl">
         <constructor-arg ref="dao"></constructor-arg>
     </bean>

</beans>